/* remove stars in separators */
hr.star-light:after,
hr.star-primary:after {
    content: none;
}

/* top bar and footer color */
.navbar-fixed-top {
  background: #2b9d73;
}

footer .footer-above {
  background-color: #2b9d73;
}

/* Top bar links hover colors */
.navbar-fixed-top .navbar-brand:hover,
.navbar-fixed-top .navbar-brand:focus,
.navbar-fixed-top .navbar-brand:active {
  color: #2c3e50;
}

.navbar-nav .page-scroll .navbar-page-scroll:hover,
.navbar-nav .page-scroll .navbar-page-scroll:focus,
.navbar-nav .page-scroll .navbar-page-scroll:active {
  color: #2c3e50;
}


/* background image  and filter */
#background-image-filter{
  background-color:rgba(0,0,0,0.7);
}
body {
  background: url('../img/background/text_editor.jpg') no-repeat fixed;
  background-size: 100%;
}

/* Buttons */
.btn-lg {
  background-color: #cdbf91;
  border-color: #968c6c;
  color: #2c3e50;
  transition: all .3s ease-in-out;
}
.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active {
  background-color: #787054;
  border-color: #787054;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  color: white;
}

/* elements background */
header {
  background: none;
}
#portfolio {
  background-color: #cdbf91;
}
#resume-image-filter{
  background-color:rgba(116,108,81,0.3);
}
.resume {
  background: url('../img/background/resume.jpg') no-repeat;
  background-size: 100%;
}
#about {
  background: none;
  color: #2c3e50;
}
#clients {
  background-color: #cdbf91;
}
#contact {
  color: white;
}
#contact textarea:focus, input:focus {
  color: white;
}

.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}
